# Python Tutorial

# (01) Introduction to Python

<p>Tools, Systex, Data Type, Operators</p>

# What is Python
<ul>
    <li>web development (server-side),</li>
        <li>software development,</li>
        <li>mathematics,</li>
        <li>system scripting.</li>
</ul>

<h1>Refer</h1>
 1. <b> w3schools : </b> <a href="https://www.w3schools.com/python/python_intro.asp" target="blank" >https://www.w3schools.com/python/python_intro.asp</a>

# Install tools
<p>Vscode <a href="https://code.visualstudio.com/"> <b>Download</b></a> </p>
<p>Python Windows Install <b> App Store </b></p>

# Python Install
<p> python -V </p>
<p>pip -V</p>

# 01 : syntax

In [5]:
print("Hello, World")

Hello, World

In [15]:
a=2
b=3
c=a+b
print(c)

5

# 02 Indentation

In [11]:
if 5 > 2:
 print("Five is greater than two!")

Five is greater than two!

# 03 Comment
<p># This is a comment</p>
<p>""" multi line  """ </p>

In [38]:
# comment 1
# comment 2
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# 04 Variable Names
<ul>
    <li>A variable name must start with a letter or the underscore character</li>
    <li>A variable name cannot start with a number</li>
    <li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )</li>
    <li>Variable names are case-sensitive (age, Age and AGE are three different variables)</li>
    <li>A variable name cannot be any of the Python keywords.</li>    
</ul>

In [16]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [17]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

## multiple Variable

In [19]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

## Unpack a Collection

In [20]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Output Variables

In [22]:
x = "Python is awesome"
print(x)

Python is awesome

In [23]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [27]:
x = 5
y = "John"
print(x + y)
#str(x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##  Global Variables

In [30]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [31]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [33]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [34]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# 05 Data Types
<p>Python has the following data types built-in by default, in these categories:
</p>
<table align="left">
    <tr>
        <td>Text Type:</td><td>str</td>
    </tr>
    <tr>
        <td>Numeric Types:	</td><td>int, float, complex</td>
    </tr>
    <tr>
        <td>Sequence Types:	</td><td>list, tuple, range</td>
    </tr>
    <tr>
        <td>Mapping Type:	</td><td>dict</td>
    </tr>
    <tr>
        <td>Set Types:	</td><td>set, frozenset</td>
    </tr>
    <tr>
        <td>Boolean Type:</td><td>bool</td>
    </tr>
      <tr>
        <td>Binary Types:</td><td>bytes, bytearray, memoryview</td>
    </tr>
    <tr>
        <td>None Type:</td><td>NoneType
</td>
    </tr>
    
    
</table>

## Setting the Data Type

<p>In Python, the data type is set when you assign a value to a variable:</p>
<b>Click</b>--> [ <a href="https://www.w3schools.com/python/python_datatypes.asp" tank="_blank"> Python Data type </a> ]

<table align="left">
    <tr>
        <td>Data Type</td><td>Example</td>
    </tr>
    <tr>
        <td>str	</td><td>x = "Hello World"	</td>
    </tr>
    <tr>
        <td>int	</td><td>x = 20	</td>
    </tr>
    <tr>
        <td>float</td><td>x = 20.5	</td>
    </tr>
    <tr>
        <td>complex</td><td>x = 1j	</td>
    </tr>
    <tr>
        <td>list</td><td>x = ["apple", "banana", "cherry"]</td>
    </tr>
      <tr>
        <td>tuple</td><td>x = ("apple", "banana", "cherry")</td>
    </tr>
    <tr>
        <td>range</td><td>x = range(6)	</td>
    </tr>
    <tr>
        <td>dict</td><td>x = {"name" : "John", "age" : 36}	</td>
    </tr>
    <tr>
        <td>set</td><td>x = {"apple", "banana", "cherry"}	</td>
    </tr>
    <tr>
        <td>frozenset</td><td>x = frozenset({"apple", "banana", "cherry"})	</td>
    </tr>
    <tr>
        <td>bool</td><td>x = True	</td>
    </tr>
    <tr>
        <td>bytes</td><td>x = b"Hello"	</td>
    </tr>
    <tr>
        <td>bytearray</td><td>x = bytearray(5)	</td>
    </tr>
    <tr>
        <td>memoryview</td><td>x = memoryview(bytes(5))	</td>
    </tr>
    <tr>
        <td>NoneType</td><td>x = None	</td>
    </tr>
</table>

In [39]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## Random Number

In [41]:
import random
print(random.randrange(1, 10))

6

# 06 Casting

In [45]:
x = int(1)   # x will be 1
y = float(2.8)   # y will be 2.8
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

1
2.8
3.0
<class 'int'>
<class 'float'>
<class 'str'>

# 07 String

In [1]:
print("Hello")
print('Hello')

Hello
Hello

## Slicing

In [2]:
b = "Hello, World!"
print(b[2:5])

llo

In [3]:
b = "Hello, World!"
print(b[:5])

Hello

In [4]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [5]:
b = "Hello, World!"
print(b[-5:-2])

orl

## Modify Strings

In [6]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [7]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [8]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [9]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [10]:
a = "Hello, World!"
s = a.split(",")
print(s[1]) # returns ['Hello', ' World!']

 World!

In [11]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [12]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Format - Strings

In [13]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [14]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

txt = f"The price is {20 * 59} dollars"
print(txt)

## Escape Characters

In [16]:
txt = "We are the so-called \"Vikings\" from the north."

<table align="left">
    <tr><td><b> Code</b></td><td> <b> Result </b></td></tr>
     <tr><td>\'</td><td>Single Quote</td></tr>
    <tr><td>\\</td><td>Backslash</td></tr>
    <tr><td>\n</td><td>New Line</td></tr>
    <tr><td>\r</td><td>Carriage Return</td></tr>
    <tr><td>\t</td><td>Tab	</td></tr>
    <tr><td>\b</td><td>Backspace</td></tr>
    <tr><td>\f</td><td>Form Feed</td></tr>
    <tr><td>\ooo</td><td>Octal value</td></tr>
    <tr><td>\xhh</td><td>Hex value</td></tr>
</table>

## String Methods

In [17]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [38]:
txt = "hello, and welcome to my world."
x = len(txt)
print (x)

31

In [36]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [22]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [23]:
txt = "hello world!"
x = txt.islower()
print(x)

True

In [24]:
txt = "565543"
x = txt.isnumeric()
print(x)

True

In [27]:
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

## Booleans

In [28]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [29]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [30]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [39]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## Lists
<hr>

In [40]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [41]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [44]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

In [45]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [46]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [47]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [48]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [49]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [50]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [51]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

### Change

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [53]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

### Add

In [54]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

### Remove

In [57]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Loop

In [58]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [59]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [60]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### Comprehension

In [61]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [62]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### Sort List Alphanumerically

In [1]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

## Copy List

In [3]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [4]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [5]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [6]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## Tuple
<p>A tuple is a collection which is ordered and <b>unchangeable</b>.</p>
<hr>

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [12]:
thistuple = ("apple", "banana", "cherry")
thistuple[0] = "aaa"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

## Sets
<hr>

In [14]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [17]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

In [16]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

cherry
apple
banana

In [18]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

In [19]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'mango', 'apple', 'papaya', 'cherry', 'banana'}

In [20]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'kiwi', 'orange', 'apple', 'banana'}

In [21]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [23]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [24]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [25]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [26]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

## Dictionaries

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford